body {
    display: block;
    margin: 0;
}

h1 {
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

#menu a {
    text-decoration: none;
    color: black;
    border: solid 1px black;
    border-radius: 25px;
    padding: 1rem;
    }

#video {
    display: block;
    margin: auto;
    margin-top: 1em;
    width: 90%;
    border: 1px solid black;
    border-radius: 25px;
    
}    

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}